* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: #181818;
}

svg {
  position: absolute;
  width: 400px;
  height: 400px;
}

#svg-container {
  order: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

#options {
  position: relative;
  width: 35%;
  height: 100%;
  padding-top: 15px;
  max-width: 400px;
  min-width: 200px;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  order: 0;
  border-right: 4px solid rgba(0, 0, 0, .1);
}

#options #closeOptions {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(100% - 40px);
  padding-top: 5px;
  padding-left: 10px;
  width: 40px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #111;
  color: #222;
  font-size: 20px;
  cursor: pointer;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#options #closeOptions:hover {
  color: #111;
  background-color: #181818;
}

#options fieldset {
  position: relative;
  border: none;
  margin: 0;
  height: 75px;
  padding: 25px;
}

/* #options fieldset:hover {
  border-left: 4px solid #111;
} */
#options legend {
  font-family: sans-serif;
  font-size: 18px;
}

#options select {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  height: 50px;
  width: 50%;
  color: #ddd;
}

#options::-webkit-scrollbar-track {
  margin-top: 25px;
  background-color: transparent;
}

#options::-webkit-scrollbar-thumb {
  background-color: #333;
}

#options::-webkit-scrollbar {
  width: 0px;
}

option {
  color: #ddd;
  background-color: #222;
}

input[type='color'] {
  position: absolute;
  right: 15px;
  display: inline-block;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  width: 25%;
  height: 50px;
}

.hidden {
  opacity: 0;
}